#main {
    background-color: #dddddd;
  }
  
  #title {
    font-family: sans-serif;
    text-align: center;
  }
  body{
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  }
  
  #img-div {
    max-width: 800px;
    padding:0% 15px;
    background: white;
    margin: 0 auto;
  }
  
  #image{
    max-width: 100%;
    display: block;
    height: auto;
    padding-bottom: 10px;
  }
  
  figure{
    display: block;
  }
  
  ul{
    display: block;
    text-align: left;
    line-height: 1.7;
  }
  
  #tribute-info {
    max-width: 600px;
    margin: 0 auto;
    
  }
  
  #tribute-info  ul li{
    margin-bottom: 10px;
    line-height: 30px;
    
  }