#main {
    background-color: #C6CBD6;
  }
  
  #title {
    font-family: georgia;
    text-align: center;
  }
  body{
    font-family: georgia;
  text-align: center;
  }
  
  #img-div {
    max-width: 800px;
    padding: 2% 20px;
    background: white;
    margin: 0 auto;
    border: 2px solid;
  }
  
  #image{
    max-width: 100%;
    display: block;
    height: auto;
    padding-bottom: 20px;
  }
  
  figure{
    display: block;
  }
  
  ul{
    display: block;
    text-align: left;
    line-height: 1.7;
  }
  
  #tribute-info {
    max-width: 600px;
    margin: 0 auto;
    
  }
  
  #tribute-info  ul li{
    margin-bottom: 10px;
    line-height: 30px;
    
  }